@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

* {
    margin: 0; 
  padding: 0;
  font-family: 'Poppins', sans-serif;
  line-height: normal;
}

body {
  background-image: url('./assests/Rectangle 29.png');
  background-size: cover; 
  background-position: calc(); 
  background-repeat: no-repeat;
 
}
.home-container{
  display: flex;
  width: 77vw;
  justify-content: center;
  align-items: center;
  padding: 10px 200px;
}
.home-container p{
  margin: 10px 100px;
  font-size: 18px;
}